.tableHead {
  font-weight: bold;
  text-align: center;
}

.tableItem {
  text-align: center;
  padding: 5px;
}

.pos {
  text-align: center;
  padding: 20px;
}

/* d3 graph*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
